<span class="Recommendation">
  <%= link_to recommendation.creator, recommendation_path(recommendation.id), class: "Recommendation-authorLink" %>
  <span class="Recommendation-feedName">
    (<%= link_to recommendation.feed.name, recommendation.feed.url, class: 'Recommendation-feedNameLink' %>)
  </span>
  <span class="Recommendation-recommendedAt">
    <%= time_ago_in_words recommendation.recommended_at %> ago
  </span>
  <% if local_assigns[:include_description] %>
  <div class="Recommendation-description">
    <%= strip_tags recommendation.description %>
  </div>
  <%= link_to 'More...', recommendation.url, class: "Recommendation-moreLink" %>
  <% end %>
  <% if local_assigns[:include_song] %>
  <div class="Recommendation-song">
    <%= render recommendation.song %>
  </div>
  <% end %>
</span>
