<div class="Song">
  <div class="Song-playButton">
    <% if song.spotify_id %>
    <div class="SpotifySongPlayer">
      <iframe class="SpotifySongPlayer-iframe" src="<%= spotify_song_src_for song %>" width="80" height="80" frameBorder="0" allowTransparency="true"></iframe>
    </div>
    <% end %>
  </div>
  <div class="Song-details">
    <% if song.id %>
      <span class="Song-artist"><%= song.artist %></span> &mdash; <%= link_to "\"#{song.title}\"", song_path(song), class: "Song-title" %>
      (<%= link_to 'edit', edit_song_path(song) %> | <%= link_to 'hide', song_song_opinion_path(song, song_opinion: { interesting: false }), method: :post %>)
    <% else %>
      <span class="Song-artist"><%= song.artist %></span>&mdash; "<%= song.title %>"
    <% end %>
    <% if local_assigns[:include_recommendations] %>
    <ul class="RecommendationList">
      <% song.recommendations.each do |recommendation| %>
      <li>
        <%= render recommendation, include_description: local_assigns[:full] %>
      </li>
      <% end %>
    </ul>
    <% end %>
    <% if song.id %>
      (<%= link_to 'edit spotify track', new_song_spotify_id_correction_path(song) %>)
    <% end %>
  </div>
</div>
